


<h1>Create a Team and Heroes!</h1>
<div class="team">
  <p>Team Name: <%= @team.name %></p>
  <p>Team Motto: <%= @team.motto %></p>
</div>

<h1>Hero 1</h1>

<% @superheroes.each do |superhero|%>
  <div class="SuperHero">
    <h3>Hero's Name: <%=superhero.name%></h3>
    <h4>Hero's Power: <%=superhero.power%></h4>
    <h4>Hero's Biography: <%=superhero.bio%></h4>
  </div>
<%end%>
