


<h1>Create a Team and Heroes!</h1>
<div class="team">
  <p>Team Name: <%= @team.name %></p>
  <p>Team Motto: <%= @team.motto %></p>
</div>

<h1>Hero 1</h1>

<% @ships.each do |ship|%>
  <div class="ship">
    <h3>Hero's Name: <%=ship.name%></h3>
    <h4>Hero's Type: <%=ship.type%></h4>
    <h4>Hero's Booty: <%=ship.booty%></h4>
  </div>
<%end%>
